<section class="language-new container mt-5">
  <header>
    <h2>Create a New Programming Language</h2>
  </header>

  <%= form_with(model: @language, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :link %>
      <%= form.text_field :link, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Create Language", class: "btn btn-primary" %>
      <%= link_to "Cancel", languages_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</section>
