<section class="language-show container mt-5">
  <header>
    <h1><%= @language.title %></h1>
  </header>

  <div class="row">
    <div class="col-md-9">
      <h3>Description</h3>
      <p><%= @language.description %></p>
      <h3>Official Link</h3>
      <p><a href="<%= @language.link %>"><%= @language.link %></a></p>
    </div>
  </div>

  <div class="mt-4">
    <%= link_to 'Edit', edit_language_path(@language), class: "btn btn-secondary" %>
    <%= link_to 'Back', languages_path, class: "btn btn-primary" %>
    <%= link_to 'Delete', @language, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</section>
